@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ovu aplikaciju je izradio Ivan Sučić. Molim pogledajte moj rad na <a href="https://github.com/sucicf1">githubu</a>.</p>