@{
    ViewBag.Title = "Početna stranica";
}

<div class="row">
    <div class="col-md-4">
        <h2>Početna stranica</h2>
        <p>
            Ovo je moja aplikacija pomoću koje možete evidentirati djelatnike i radne zadatke. Gore iznad se nalaze linkovi za rad s
            @Html.ActionLink("djelatnicima", "Index", "Djelatnici") i njihovim pripadajućim @Html.ActionLink("radnim zadacima", 
                                                                                           "Index", "RadniZadaci").
            Nadam se da će vam aplikacija biti korisna.
        </p>
    </div>
</div>